html, body {
    background-color: white;
}

.header h1{ 
    margin: 0px;
}

.header h1:hover{ 
    margin: 0px;
    
}
.header {
    padding block-size: 10px;
    text-align: center;
    background: #f5c9b2;
    color: white;
    font-size: 20px;
    position:sticky;
    top:0;
    
    
  }
  footer {
    text-align: center;
    background:#f5c9b2;
    color: white;
    font-size: 30px;
    font-style:italic;
  
    
  }
  .navigation li{
      list-style:none;
      transition: 2s;
      text-align: center;
      display: inline-block;
      padding: 0 30px;
    
    
  }
  

  .navigation li:hover{
    text-decoration: underline;
    color:black;
    font-size: 20px;
  }
  
  footer h4{
      display: block;
      margin: 0 auto;
      padding:  10px 0
      ;
  }

  .image-box{

  }
  .image-box img{
    width: auto;
    height: 400px;
    background-position: center;
      

}
.navigation ul {
    
    padding:0px;
}

.navigation ul li{
    color: white;
    padding: 10px;
}

.tooltip {
    position: relative;
    display: inline-block;

  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color:#55bec0;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    opacity: 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    right: -10px;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  .paragraph-1 {
    width: 800px;
    text-align: center;
    margin: 0 auto;
}

  .paragraph-1 p{
    color: #000;
  } 

  .contact {
    width: 250px;
    margin: 20px auto;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #0000004d;
    padding: 20px;
    
}

.form input {
  margin-bottom: 10px;
  border: 0;
  border-radius: 2px;
  padding: 0 5px;
 
}

.form button {
  padding: 5px 10px;
  border: 0;
  background: #000;
  color: #fff;
  border-radius: 2px;
  transition: 0.4s;
}
.form button:hover {

 box-shadow: 0 0 14px #8cde9c;

}

.image-box img {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 400px;
  background-position: center;
  box-shadow: 3px 3px 6px #7171718f;



